$board-color:#F4F4F4;

/* Boardリンク */

.board{
  margin:30px 0;
  background-color:$board-color;
  border:1px solid rgba(0,0,0,.1);
  border-radius:10px;


  &_title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 30px 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    .board_name {
      color: $text-base-color;
    }

    .board_edit {
      margin-left: auto;
    }
  }

  &_description{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $text-base-color;
    opacity:0.4;
    padding: 0 20px 30px 20px;
  }

  .dropdown{
    .dropbtn {
      width : 20px;
    }
  }

  &_avatar{
    width: 30px;
    height: 30px;
    border-radius:20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}


/* 新規追加リンク */

.add_board{
  margin:30px 0;
  border:1px dashed rgba(0,0,0,.2);
  border-radius:10px;


  .add_board_content{
    display:block;
    text-align: center;
    line-height:161px;
    text-decoration: none;
    color: black;
  }
}
