$board-color:#F4F4F4;

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    background-color:$board-color;
    border:none;
    border-radius:10px;
  }
}

label {
  font-size: 18px;
}

textarea, trix-editor {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 203px;
  resize: vertical;
  background-color:$board-color;
  border:none;
  border-radius:10px;
  margin-bottom: 250px;
}

.actions {
  margin-top: 350px;
}
