$board-color:#F4F4F4;

/* Boardリンク */

.task{
  margin:20px 0;
  background-color:$board-color;
  border:1px solid rgba(0,0,0,.1);
  border-radius:10px;


  &_image {
    padding: 20px;
    padding-bottom: 0;

    img {
      border-radius:10px;
      height: 180px;
      width: 100%;
      max-width: 100%;
    }
  }

  &_title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $text-base-color;
    padding: 30px 20px 30px 20px;
  }

  &_content{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $text-base-color;
    opacity:0.4;
    padding: 0 20px 30px 20px;
  }

  &_avatar{
    width: 30px;
    height: 30px;
    border-radius:20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.add_task{
  margin:30px 0;
  border:1px dashed rgba(0,0,0,.2);
  border-radius:10px;


  .add_task_content{
    display:block;
    text-align: center;
    line-height:161px;
    text-decoration: none;
    color: black;
  }
}
